# Home Assistant
config/.storage/
config/.cloud/
config/home-assistant.log*
config/home-assistant_v2.db*
config/deps/
config/tts/
config/__pycache__/
config/.HA_VERSION
config/.ha_run.lock

# Sekrety - WAŻNE!
config/secrets.yaml

# Backupy
backups/

# Docker
.DS_Store

# IDE
.vscode/
.idea/

# Python
*.pyc
__pycache__/

# Logs
*.log

# Machine Learning data (energy_ml)
config/ml_data/
*.pkl
*.joblib
*.h5
