# Backupy
# Docker
# Home Assistant
# IDE
# Logs
# Python
# Sekrety - WAŻNE!
*.log
*.pyc
.DS_Store
.idea/
.vscode/
__pycache__/
backups/
config/.HA_VERSION
config/.cloud/
config/.ha_run.lock
config/.storage/
config/__pycache__/
config/deps/
config/home-assistant.log*
config/home-assistant_v2.db*
config/secrets.yaml
config/tts/
secrets.yaml
