# Utility Meters - Pomiar zużycia energii
# Dokumentacja: https://www.home-assistant.io/integrations/utility_meter/

# Dzienne zużycie energii
zuzycie_dzienne:
  source: sensor.pomiar_mocy_zuzycie
  name: "Zużycie dzienne"
  cycle: daily

# Tygodniowe zużycie energii
zuzycie_tygodniowe:
  source: sensor.pomiar_mocy_zuzycie
  name: "Zużycie tygodniowe"
  cycle: weekly

# Miesięczne zużycie energii
zuzycie_miesieczne:
  source: sensor.pomiar_mocy_zuzycie
  name: "Zużycie miesięczne"
  cycle: monthly

# Dzienny eksport energii
eksport_dzienny:
  source: sensor.pomiar_mocy_eksport
  name: "Eksport dzienny"
  cycle: daily

# Tygodniowy eksport energii
eksport_tygodniowy:
  source: sensor.pomiar_mocy_eksport
  name: "Eksport tygodniowy"
  cycle: weekly

# Miesięczny eksport energii
eksport_miesieczny:
  source: sensor.pomiar_mocy_eksport
  name: "Eksport miesięczny"
  cycle: monthly
